:root {
  --teal-500: #18ab77;
  --teal-200: #46eba1;
  --green-400: #59bc63;
  --backgraund-primary: #d6d6d6;
  --background-second: #030305;
  --backgraund-primary: #16181a;
  --greem-primary: #040405;
  --cream-400: #e8c999;
  --cream-500: #f78c6c;
  --greem-primary: #bbd8a3;
  --greem-primary: #ffac4d;
  --greem-primary: #f0f1c5;
  --greem-primary: #29c2ff;
  --greem-primary: #ecdfcc;
  --greem-primary: #f0f1c5;
  --greem-primary: #ff6b6b;
  --greem-primary: #d363ff;
  --greem-primary: #ff82d5;
  --purple-primary: #a690ff;
  --greem-primary: #f0f1c5;
  --greem-primary: #0d1117;
  --greem-primary: #697565;
  --neutral-primary: #020202;
  --greem-primary: #11161d;
  --greem-primary: #2833434d;
  --greem-primary: #222831;
  --greem-primary: #e4d894;
  --greem-primary: #f5f5f5;
  --greem-primary: #697565;
  --greem-primary: #000000;
  --nord-background: #11121b;
}
